# Ignore everything,
/*

# But
!.gitignore
!/fish/
!/omf/
!/fontconfig/
!my_packages.txt
!mybashrc
!alacritty
!i3
!gtkrc
!polybar
!my_python_packages.txt
!nvim/init.vim
# ranger
!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/colorschemes/__init__.pyo
ranger/colorschemes/default.pyo
ranger/plugins/__init__.pyo
ranger/plugins/devicons.pyo
ranger/plugins/devicons_linemode.pyo
