snippet python "Minted Python code" b
\begin{minted}{python}
	$1
\end{minted}
$0
endsnippet

snippet sh "Minted Shell code" b
\begin{minted}{bash}
	$1
\end{minted}
$0
endsnippet

snippet matlab "Minted Matlab code" b
\begin{minted}{matlab}
	$1
\end{minted}
$0
endsnippet

snippet c "Minted C code" b
\begin{minted}{c}
	$1
\end{minted}
$0
endsnippet

snippet ic "Minted inline code" b
\mintinline{${1:python}}{${2:${VISUAL}}}$0
endsnippet
