snippet article "Basic article" b
\documentclass[a4paper]{article}

\usepackage{indentfirst}
\usepackage{amsmath, amssymb}

\begin{document}
\title{$0}
\author{Kang Liang}
\maketitle

\end{document}
endsnippet

snippet beg "begin{} / end{}" b
\\begin{$1}
	$0
\\end{$1}
endsnippet

snippet / "Fraction" i
\\frac{${VISUAL}}{$1}$0
endsnippet
