snippet ctrl "<Ctrl>" i
<kbd>Ctrl</kbd>
endsnippet

snippet shift "<Shift>" i
<kbd>Shift</kbd>
endsnippet

snippet alt "<Alt>" i
<kbd>Alt</kbd>
endsnippet

snippet enter "<enter>" i
<kbd>Enter</kbd>
endsnippet

snippet leader "<enter>" i
<kbd>LEADER</kbd>
endsnippet
